@using QuizAboutMovie.Controllers
@model IEnumerable<QuizAboutMovie.Models.Movie>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>

@foreach (var item in Model)
{
    <p>@item.ID @item.Name @item.Year @item.Rating</p>
}

